@import '../../styles/screen.scss';
@import '../../styles/button.scss';
@import '../../styles/colors.scss';

.hide {
  display: none;
}

.container, .containerVisible {
  transform: scaleY(0);
  position: relative;
  overflow: visible;
  break-inside: avoid-column;
  background-color: $backgroundCard;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.containerVisible {
  transition: all 0.5s;
  transform: scaleY(1);
}

.imageWrapper {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.submenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .btn {
    transform: scale(0.7);
  }
}
