@import '../../styles//screen.scss';

body {
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
  min-height: 100vh;
  overflow: visible;
}

header {
  height: 40px;
}

.noContent {
  p {
    font-size: 15px;
    text-align: center;
  }
}

.main {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  column-count: 2;

  column-fill: auto;
  padding-top: 10px;
  overflow: visible;

  @media (min-width: $medium) {
    column-count: 3;
    max-width: $medium;
  }

  @media (min-width: $large) {
    column-count: 3;
    max-width: $large;
  }

  @media (min-width: $extra) {
    column-count: 4;
    max-width: $extra;
  }

  @media (min-width: $extraLarge) {
    column-count: 5;
    max-width: $extraLarge;
  }
}
